@model Desafio_2_DAS_2021.Models.pelicula

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>pelicula</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.titulo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.titulo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sinopsis)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sinopsis)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.director)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.director)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.poster_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.poster_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.poster)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.poster)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.puntuacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.puntuacion)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id_pelicula }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
