@using Desafio_2_DAS_2021.Models;
@model List<PeliculasCLS>
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<div class="gif">
    <center><img src="~/Content/img3/cin.jpg" alt=""></center>
</div>
<main>
    @Html.ActionLink("Agregar", "Agregar", "Peliculas", null, new { @class = "btn btn-primary" })
    <section class="Portafolio">
        <div class="contenedor">
            <h5 class="titulo">Ranking</h5>
            <div class="galeria-port">
                <br />
                <div class="imagen-port">
                    @foreach (var item in Model)
                    {
                        <!--<img src="~/Content/img/Sonic.jpg" alt="">-->
                        <img width="300" src="@Url.Action("getImage", "Peliculas", new { id = item.iid_pelicula })" alt=""/>
                        <div class="hover-galeria">
                            <img src="~/Content/img3/icono1.png" alt="">
                            <p>
                                @item.titulo
                            </p>
                            <p>
                                @item.sinopsis
                            </p>
                            <p>
                                @item.puntuacion
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

</main>


